body{
display:flex;
flex-direction:column;
background:#121212;
color:white;
font-family:Arial;
margin:0;
}

main{
width:90%;
margin:auto;
display:flex;
flex-direction:column;
}

.top{
display:flex;
justify-content:space-between;
}

.Middle{
display:flex;
flex-direction:column;
}

.WAT{
display:flex;
gap:15px;
}

.difficulty{
margin-top:10px;
}

.button{
background:#121212;
border:1px solid #717178;
border-radius:12px;
color:white;
padding:6px 12px;
cursor:pointer;
}

.wordDisplay{
margin-top:30px;
color:#717178;
font-size:24px;
line-height:35px;
}

textarea{
width:100%;
margin-top:20px;
background:#121212;
color:white;
border:none;
outline:none;
font-size:28px;
resize:none;
}

.startclick{
text-align:center;
margin-top:20px;
}

.blue{
background:#177dff;
color:white;
border:none;
padding:10px 20px;
border-radius:12px;
cursor:pointer;
}

.result{
display:none;
margin-top:30px;
}

#good{color:green;}
#bad{color:red;}

/* Tablet */

@media(min-width:768px){

.wordDisplay{
font-size:30px;
}

}

/* Desktop */

@media(min-width:1024px){

main{
max-width:900px;
}

}